<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="container mt-5">
                <h3>Edit Your Listing</h3>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"> 
                    <div class="form-group mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" id="title" required />
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" id="description" rows="4" required><%= listing.description %></textarea>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" id="image" />
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" id="price" required />
                        </div>
    
                        <div class="form-group mb-3  col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" id="country" required />
                        </div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" id="location" required />
                    </div>
                    
                    
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>

        </div>
    </div>
    <script>
        // Bootstrap custom validation logic
        (function () {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>
    
</body>
</html>